pkgbase = redragon-audio-suite-git
	pkgdesc = Complete audio suite for Redragon headsets on Arch Linux: PCM sync fix + 7.1.4 virtual surround + EQ + noise cancellation
	pkgver = 0.3.2
	pkgrel = 1
	url = https://github.com/cristianocps/redragon-hs-companion
	install = redragon-audio-suite-git.install
	arch = any
	license = MIT
	makedepends = git
	depends = python
	depends = alsa-utils
	depends = pipewire
	depends = pipewire-alsa
	depends = pipewire-pulse
	optdepends = gnome-shell: GNOME Shell extension for volume control
	optdepends = cinnamon: Cinnamon applet for volume control
	optdepends = plasma-desktop: KDE Plasma widget for volume control
	optdepends = noise-suppression-for-voice: System-wide noise cancellation
	optdepends = easyeffects: GUI for advanced audio effects
	optdepends = virtual-surround-manager: GUI to manage HeSuVi .wav files for EasyEffects (RECOMMENDED)
	optdepends = zenity: Graphical file picker for GNOME
	optdepends = kdialog: Graphical file picker for KDE
	provides = redragon-hs-companion
	conflicts = redragon-hs-companion
	conflicts = redragon-hs-companion-git
	source = redragon-hs-companion::git+https://github.com/cristianocps/redragon-hs-companion.git
	source = pipewire-dx-utils::git+https://github.com/DekoDX/Pipewire-DX-Utils.git
	md5sums = SKIP
	md5sums = SKIP

pkgname = redragon-audio-suite-git
